/*Sign In Form*/

@font-face {
  font-family: 'Vazir';
  src: local('Vazir'), url(../fonts/Vazir.ttf) format('truetype');
}

.signin{
    position: relative;
      height: 670px;
      width: 450px;
      margin: auto;
      right: 10px;
      top: 30px;
      right: 40px;
      direction: rtl;
      text-align: right;
      font-family: Vazir}
.signinbutton{
      width: 450px;
      background-color: #28c5cc !important;
      border-color: #28c5cc !important;
      font-family: Vazir;
      height: 50px;
      
      }
.imgi{
    width: 450px;
}
.iconi{
    position: relative;
    right: 190px;
    top: 20px;
    height: 100px;
    width: 60px;
}
.icontexti{
  position: relative;
  right: 200px;
  top:1px;
  font-family: Vazir;
}

.linktexti{
  top:100px;
  font-family: Vazir;
}





  
