.Appd {
	position: relative;
	top: 0;
	left: 10;
	right: 10;
	bottom: 10;
}

.my {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 1000;
	width: 1000;
	margin: 0px 0px 0px 0px;
}

.crop-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 60px;
}

.controls {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 50%;
	transform: translateX(-50%);
	height: 80px;
	display: flex;
	align-items: center;
}

.slider {
	padding: 22px 0px;
}
